@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #d4cdcd;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
  border-radius: 14px;
  border: 1px solid rgb(153, 153, 153);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  padding: 0 1rem;
}

@layer base {
  :root {
    /* Primary Colors */
    --primary: #6366f1;
    --primary-foreground: #818cf8;

    /* Secondary Colors */
    --secondary: #f9f871;
    --secondary-foreground: #f5f588;

    /* Neutral Colors */
    --background: hsl(0, 0%, 98%);
    --surface: hsl(0, 0%, 95%);

    /* Font Colors */
    --header-color: black;
    --text-color: black;

    /* Functional Colors */
    --success: #10b981;
    --destructive: #ef4444;
    --info: #3b82f6;

    --radius: 0.5rem;
  }

  .dark {
    /* Primary Colors */
    --primary: #6366f1;
    --primary-foreground: #818cf8;

    /* Secondary Colors */
    --secondary: #f9f871;
    --secondary-foreground: #f5f588;

    /* Neutral Colors */
    --background: #09090b;
    --surface: #18181b;

    /* Font Colors */
    --header-color: #e5e7eb;
    --text-color: #9ca3af;

    /* Functional Colors */
    --success: #10b981;
    --destructive: #ef4444;
    --info: #3b82f6;

    --radius: 0.5rem;
  }
}

body {
  background-color: var(--background);
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  color: var(--header-color);
}

p,
span {
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
}
